.Projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-top: 1em;
}

.project {
   display: flex;
   flex-direction: column;
   gap: 1em;
   margin-top: 3em;
}

.projectImg {
    border-radius: 10px;
    width: 25em;
    height: 15em;
    object-fit: cover;
}

h3 {
    color: white;
}

.projectText {
    color: white;
    width: 25em;
}

.sourceBtn {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 5px;
}