.reach {
    margin-left: 5em;
    margin-top: 10em;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}