@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ImageDiv {
    border-radius: 100%;
    width: 9em;
    height: 9em;
    object-fit: cover;
    background-color: white;
    padding: 10px;
    margin-bottom: 2em;
    margin-top: 5em;
}

.Profile-Picture {
    border-radius: 100%;
    width: 9em;
    height: 9em;
    object-fit: cover;
    margin-top: 0.5em;
}

.Intro {
    color: #d6d4d4;
    margin-bottom: -1px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
}

.Others {
    text-align: center;
    color: white;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    margin-top: -1.2em;
}

.Intro-Text {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 50em;
}

.Hero-Btn {
    border: none;
    width: 8em;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Hero-Btn:hover {
    border: 1px solid white;
  color: rgb(214, 212, 212);
    background: none;
}