@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    gap: 40em;
}


.Nav-Bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

a {
    text-decoration: none;
  color: rgb(214, 212, 212);
  font-family: 'Poppins', sans-serif;
}

a:hover{
border-bottom: 1px solid white;
}

button {
    border: none;
    width: 8em;
    height: 50px;
    cursor: pointer;
}

button:hover {
    border: 1px solid white;
  color: rgb(214, 212, 212);
    background: none;
}